.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  @include font(null, 26px, 1.19, 0.03em, null);
  color: $accent-color;
  .site-nav & {
    padding: 24px 0;
  }
}
.page-header__logo {
  color: $logo-header-color;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  @include font(null, 26px, 1.19, 0.03em, null);
  color: $minor-text-color;
}
