.logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 1.16, 0.03em, null);
  color: $accent-color;
  padding: 16px 0;
  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, 0.03em, null);
    .site-nav & {
      padding: 24px 0;
    }
  }
}
.page-header__logo {
  color: $logo-header-color;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 1.16, 0.03em, null);
  color: $minor-text-color;
  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, 0.03em, null);
  }
}
