.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-bg-color;
  @include transition(
    opacity,
    visibility,
    null,
    $time-duration,
    $time-function
  );
}
.modal__window {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: $main-background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal__close {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $main-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  @include transition(
    fill,
    null,
    null,
    $time-duration,
    $time-function
  );
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.modal__icon-X {
  width: 11px;
  height: 11px;
  @include centeredFlex(null, center, center);
}

.modal__title {
  @include font(700, 20px, 1.15, 0.03em, center);
  color: $primary-text-color;
  margin-bottom: 12px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* -----------------------Форма в модальному вікні-------------- */
.form-field {
  @include centeredFlex(flex, null, null);
  flex-direction: column;
  margin-top: 10px;
}
.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  outline: transparent;
  @include transition(
    border-color,
    null,
    null,
    $time-duration,
    $time-function
  );
  &:focus {
    border-color: $accent-color;
  }
}

.form-field__label {
  @include font(null, 12px, 1.16, 0.01em, null);
  color: $secondary-text-color;
  margin-bottom: 4px;
}
.form-field__box {
  position: relative;
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  @include transition(
    border-color,
    null,
    null,
    $time-duration,
    $time-function
  );
  @include transition(
    fill,
    null,
    null,
    $time-duration,
    $time-function
  );
  .modal-input:focus + & {
    fill: $accent-color;
  }
}
.form-field__comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  @include transition(
    border-color,
    null,
    null,
    $time-duration,
    $time-function
  );
  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    @include font(null, 12px, 1.16, 0.01em, null);
    color: $modal-placeholder-color;
  }
}

.check {
  @include centeredFlex(flex, null, center);
  margin-top: 20px;
}
.check__label {
  @include centeredFlex(flex, center, null);
  @include font(null, 14px, 1.71, 0.03em, null);
  color: $secondary-text-color;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    @include centeredFlex(flex, center, center);
    @include transition(
    border-color,
    null,
    null,
    $time-duration,
    $time-function);
    .check__mark:checked + & {
      background-color: $accent-color;
      border-color: none;
    }
    .check__mark:focus + & {
      border-color: $accent-color;
    }
  }
}
.check__link {
  @include font(null, 14px, 1.71, 0.03em, null);
  color: $accent-color;
  margin-left: 7px;
  text-decoration-color: $accent-color;
  border-bottom: 1px solid $accent-color;
  line-height: 0.85;
}

.check__icon {
  fill: transparent;
  @include transition(
    fill,
    null,
    null,
    $time-duration,
    $time-function
  );
  .check__mark:checked + .check__label & {
    fill: $minor-text-color;
  }
}

.confirm-btn {
  font-family: inherit;
  @include font(700, 16px, 1.88, 0.06em, center);
  display: block;
  color: $minor-text-color;
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  margin: 30px auto 0;
  fill: transparent;
  @include transition(
    background-color,
    null,
    null,
    $time-duration,
    $time-function
  );
  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
  }
}
