body {
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
  background-color: $main-background-color;
}
.no-scroll {
  overflow: hidden;
}
.page-header {
  border: 1px solid $border-potfolio-color;
}
.hero,
.footer {
  background-color: $secondary-background-color;
}
.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
