$primary-text-color: #212121;
$secondary-text-color: #757575;
$minor-text-color: #ffffff;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$main-background-color: #ffffff;
$secondary-background-color: #2f303a;
$background-btn-color: #f5f4fa;
$team-background-color: #f5f4fa;
$logo-header-color: #000000;
$border-potfolio-color: #eeeeee;
$border-header-color: #ececec;
$benefits-icon-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$footer-icon-bc: rgba(255, 255, 255, 0.1);
$bg-work-text-color: rgba(47, 48, 58, 0.8);
$bg-example-box-color: rgba(33, 150, 243, 0.9);
$time-duration: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$sign-placeholder-color: rgba(255, 255, 255, 0.6);
$gap: 30px;
