.clients__list {
  @include list(flex, wrap, null, null, null, $gap);
}
.clients__item {
  height: 92px;
  @include item(1, $gap, 2);
  @media screen and (min-width: 768px) {
    @include item(2, $gap, 3);
  }
  @media screen and (min-width: 1200px) {
    @include item(5, $gap, 6);
  }
}
.clients__link {
  @include centeredFlex(flex, center, center);
  width: 100%;
  height: 100%;
  outline: transparent;
  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;
  @include transition(
    color,
    border-color,
    null,
    $time-duration,
    $time-function
  );
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
