.footer__box {
  text-align: center;
  @media screen and (min-width: 1200px) {
    @include centeredFlex(flex, baseline, null);
    text-align: left;
  }
}
.logo__box {
  margin-bottom: 20px;
}
.footer {
  padding: 60px 0;
}
.footer__tablet {
  @media screen and (min-width: 768px) {
    @include centeredFlex(flex, null, center);
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__adress {
  font-style: normal;
  @include font(null, 14px, 1.71, 0.03em, null);
  color: $minor-text-color;
  margin-bottom: 9px;
}

.footer__contacts {
  font-style: normal;
  @include font(400, 14px, 1.71, 0.03em, null);
  color: $footer-contacts-color;
  @include transition(color, null, null, $time-duration, $time-function);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--mail {
    margin-bottom: 9px;
  }
}
