.work {
  padding-top: 0;
}

.work__list {
  @include centeredFlex(flex, null, null);
  gap: 30px;
}

.work__item {
  position: relative;
}
.work__text {
  @include centeredFlex(flex, center, center);
  @include font(700, 14px, 1.14, 0.03em, center);
  text-transform: uppercase;
  color: $minor-text-color;
  width: 100%;
  height: 70px;
  background-color: $bg-work-text-color;
  position: absolute;
  bottom: 0;
}
